* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 20px;
}
.element01 {
  position: absolute;
  background-color: #e5eeeb;
  box-sizing: inherit;
  height: 60px;
  width: 125px;
  border-bottom: 10px solid black;
  border-right: 10px solid black;
  top: 0;
  left: 0;
}
.element02 {
  position: absolute;
  background-color: #f2e7d5;
  box-sizing: inherit;
  height: 60px;
  width: 190px;
  border-bottom: 10px solid black;
  border-right: 10px solid black;
  top: 0;
  left: 125px;
}
.element03 {
  position: absolute;
  background-color: #f2e7d5;
  box-sizing: inherit;
  height: 60px;
  width: 135px;
  border-bottom: 10px solid black;
  top: 0;
  left: 315px;
}
.element04 {
  position: absolute;
  background-color: #fcfde7;
  box-sizing: inherit;
  height: 400px;
  width: 50px;
  border-left: 10px solid black;
  right: 0;
  top: 0;
}
.element05 {
  position: absolute;
  background-color: #d73630;
  box-sizing: inherit;
  height: 100px;
  width: 50px;
  border-top: 10px solid black;
  border-left: 10px solid black;
  right: 0;
  bottom: 0;
}
.element06 {
  position: absolute;
  background-color: #e0e0df;
  box-sizing: inherit;
  height: 30px;
  width: 265px;
  border-top: 10px solid black;
  right: 50px;
  bottom: 0;
}
.element07 {
  position: absolute;
  background-color: #e3ded9;
  box-sizing: inherit;
  height: 70px;
  width: 127.5px;
  border-top: 10px solid black;
  border-right: 10px solid black;
  left: 60px;
  bottom: 0;
}
.element08 {
  position: absolute;
  background-color: #f4c65a;
  box-sizing: inherit;
  height: 100px;
  width: 60px;
  border-top: 10px solid black;
  border-right: 10px solid black;
  left: 0;
  bottom: 0;
}
.element09 {
  position: absolute;
  background-color: #e1eae5;
  box-sizing: inherit;
  height: 240px;
  width: 60px;
  border-top: 10px solid black;
  border-right: 10px solid black;
  left: 0;
  bottom: 100px;
}
.element10 {
  position: absolute;
  background-color: #fbfde7;
  box-sizing: inherit;
  height: 100px;
  width: 60px;
  border-right: 10px solid black;
  left: 0;
  bottom: 340px;
}
.element11 {
  position: absolute;
  background-color: #d62d24;
  box-sizing: inherit;
  height: 255px;
  width: 255px;
  border-right: 10px solid black;
  border-bottom: 10px solid black;
  top: 60px;
  left: 60px;
}
.element12 {
  position: absolute;
  background-color: #edcc6b;
  box-sizing: inherit;
  height: 122.5px;
  width: 135px;
  border-bottom: 10px solid black;
  top: 60px;
  right: 50px;
}
.element13 {
  position: absolute;
  background-color: #dfe5d0;
  box-sizing: inherit;
  height: 133px;
  width: 62.5px;
  border-bottom: 10px solid black;
  top: 182.5px;
  right: 50px;
}
.element14 {
  position: absolute;
  background-color: #f2eee2;
  box-sizing: inherit;
  height: 133px;
  width: 72.5px;
  border-bottom: 10px solid black;
  border-right: 10px solid black;
  top: 182.5px;
  right: 112.5px;
}
.element15 {
  position: absolute;
  background-color: #d6dee0;
  box-sizing: inherit;
  height: 60px;
  width: 145px;
  border-bottom: 10px solid black;
  border-left: 10px solid black;
  bottom: 125px;
  left: 305px;
}
.element16 {
  position: absolute;
  background-color: #241785;
  box-sizing: inherit;
  height: 95px;
  width: 145px;
  border-left: 10px solid black;
  bottom: 30px;
  right: 50px;
}
.element17 {
  position: absolute;
  background-color: #130409;
  box-sizing: inherit;
  width: 127.5px;
  height: 115px;
  border-right: 10px solid black;
  bottom: 70px;
  left: 60px;
}
.element18 {
  position: absolute;
  background-color: #c0bfba;
  box-sizing: inherit;
  height: 60px;
  width: 117.5px;
  border-bottom: 10px solid black;
  bottom: 125px;
  right: 195px;
}
.element19 {
  position: absolute;
  background-color: #dee2d4;
  box-sizing: inherit;
  height: 60px;
  width: 117.5px;
  border-bottom: 10px solid black;
  bottom: 60px;
  right: 195px;
}
.element20 {
  position: absolute;
  background-color: #130409;
  box-sizing: inherit;
  height: 30px;
  width: 117.5px;
  bottom: 30px;
  right: 195px;
}
